@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.scroll-hidden {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.truncate {
  @apply overflow-hidden whitespace-nowrap overflow-ellipsis
}